.menu-container-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

::ng-deep .menu-container-sidebar .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
    background: #000000;
    border: 0;
}

::ng-deep .menu-container-sidebar .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action {
    color: white;
}
::ng-deep .menu-container-sidebar .p-panelmenu .p-panelmenu-content .p-menuitem:not(.p-highlight):not(.p-disabled)>.p-menuitem-content:hover {
    background: rgba(255, 255, 255, .15)
}